.navbar {
    background-color: #1a1a1a;
    padding: 15px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: #00ffcc;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: #00b3b3;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.cyber-form {
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 255, 204, 0.3);
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.cyber-form h2 {
    margin-bottom: 20px;
    color: #00ffcc;
}

.cyber-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.cyber-form input, .text-area {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #0e1d31;
    border: 1px solid #00ffcc;
    color: #f2f2f2;
    border-radius: 5px;
}
#shift{
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #0e1d31;
    border: 1px solid #00ffcc;
    color: #f2f2f2;
    border-radius: 5px;

}
.text-area {
    height: 50;
    resize: none;
}

.shift-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

#shift-label {
    margin-right: 10px;
}

.cyber-form button {
    background-color: #00ffcc;
    color: #0a0a0a;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.cyber-form button:hover {
    background-color: #00b3b3;
    color: #fff;
}